<div class="columns">

  <div class="column is-half">
    <ro1-campains></ro1-campains>
  </div>

  <div class="column is-half">
    <div class="card is-hand height-110 gradient">
      <div class="card-content">
        <div class="content center">
          <a class="center-content" href="">PLAY</a>
        </div>
      </div>
    </div>

    <div class="card top-30p is-hand">
      <div class="card-content height-110">
        <div class="content">
          <a href="">CUSTOMS</a>
        </div>
      </div>
    </div>

    <div class="card top-30p is-hand">
      <div class="card-content height-110">
        <div class="content">
          <a href="">RPG THEMES</a>
        </div>
      </div>
    </div>

  </div>
</div>
