<div class="card">
  <p class="card-header-title">
    Conquests
  </p>
  <div class="bar-center">
    <div class="right">
      <label>10 of 20(50%) achievements earned</label>
    </div>
    <progress class="progress is-primary" value="50" max="100"></progress>
  </div>

  <div class="card-content">
    <div class="achiev-container">

      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>
      <ro1-conquest [achieved]="true"></ro1-conquest>
      <ro1-conquest [achieved]="false"></ro1-conquest>

    </div>

  </div>
</div>
