<div class="card">
  <div class="card-content">
    <div class="content">

      <div class="columns is-mobile">

        <!--Campain name-->
        <div class="column">
          <p class="has-text-grey is-size-6"> CAMPAIN_NAME</p>
        </div>

        <!--Number of users-->
        <div class="column">
          <div class="border has-text-centered tooltip">
            <span class="tooltiptext">Number of users</span>
            <div class="no-selection">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              10000
            </div>
          </div>
        </div>

        <!--Time played-->
        <div class="column">
          <div class="border has-text-centered tooltip">
            <span class="tooltiptext">Total time played</span>
            <div class="no-selection">
              <span class="icon">
                <i class="far fa-clock"></i>
              </span>
              1000
            </div>
          </div>
        </div>

        <!--Online/Offline-->
        <div class="column">
          <div class="border has-text-centered online tooltip">
            <span class="tooltiptext">The campain is offline</span>
            <div class="no-selection">
              <p class="acess-font no-selection is-size-6 field-padding">Online</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
