$img-achiev: 130px;
$img-demo: 80px;
.is-hand {
  cursor: pointer;
}

.top-30p {
  margin-top: 30px;
}

.height-110 {
  height: 110px;
}

.top-spacing {
  margin-top: 5%;
}

.image-max {
  width: 170px;
  display: block;
  height: auto;
  max-width: 300px;
}

.achievement {
  width: $img-achiev;
  height: $img-achiev;
  min-width: $img-achiev;
  display: block;
  height: auto;
  display: inline-block;
  margin: 16px;
}

.achievement-demo {
  width: $img-demo;
  height: $img-demo;
  min-width: $img-demo;
  display: block;
  height: auto;
  display: inline-block;
  margin: 5px 10px;
}

.achiev-name {
  padding-top: 8px;
}

//Use in parent element
.center {
  text-align: center;
}

//Use in child element
.center-content {
  margin: auto;
}

.box-padding {
  padding: 50px 10px;
}

//Block content to be selected(Offen used in labels or paragraphs)
.no-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 120px;
  visibility: hidden;
  background-color: hsl(0, 0%, 71%);
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 1px 1px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 90%;
  margin-left: -60px;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
